fastapi[standard]
uvicorn[standard]
sqlalchemy
bcrypt==4.0.1
python-multipart
python-jose[cryptography]
psycopg[binary]
pymysql
alembic
passlib
pytest
httpx
pytest-asyncio
aiofiles
jinja2
python-dotenv